
<head>
  <title>TinyApp</title>
</head>

<body>
  <h1 id=greeting>TinyApp </h1>

  <% if (!userID) {%>

  <a href="/register/">Register today!</a>
  <br>
  <a href="/login/">Already a user? Please log in:</a>

    <%} else {%>

    <h1>Welcome back, <%=user.email%></h1>

  <form action="/logout" method="POST">
    <input type="submit" value="Logout" name='user_id'>
  </form>

  <% } %>


  <br>
  <br>

</body>