html {
    background-image: lightblue;
}

#greeting {
  font-style: italic;

}


#registration {
  font-style: Arial;
}


#login {
  font-style: Arial;
}


#headerGreating {
  font-style: Arial;
}

#newURL {

}