<html lang="en">
  <head>

    <% include partials/_header %>

  </head>
  <body>

    <% if (userID) { %>
    <a href="urls/new">Shorten your URL </a>
  <% } else { %>
      <a href="/login/" >Log in to see your shorten URLs!</a>
<%} %>

</body>
</html>