<html lang="en">
  <head>

    <% include partials/_header %>

  </head>
  <body>

    <% if (username) { %>

    <a href="urls/new">Shorten your URL </a>
  <% } else { %>
Log in to see your shorten URLs!
<%} %>

</body>
</html>