<!DOCTYPE html>

<html lang="en">
<head>
  <% include ./partials/_header.ejs %>
</head>

<% if (!username) { %>

  <form action="/login" method="POST">
    <label href="/login/">Please log in:</label>
    <br>
    <input type="text" name="user_id" placeholder="username"> <br>
    <input type="text" name="password" placeholder="password"> <br>
    <input type="submit" value="Login">
  </form>
<% } else { %>

  Welcome, <%=username%>
<%}%>




</body>
</html>