<!DOCTYPE html>

<html lang="en">
<head>
  <% include ./partials/_header.ejs %>

</head>
<body>

<% if (user) { %>

  <br>
  <br>
  <table>
    <thead>
      <tr>
        <th>Shortened URL</th>
        <th>Full URL</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>

      <% for (let shortUrl in urls) { %>
      <tr>
        <td><%= shortUrl %></td>
        <td><%=urls[shortUrl].longURL %></td>

        <td><form method="POST"
          action="/urls/<%=shortUrl%>/delete">  <!-- End of first form tag-->
          <input type="submit" value="Delete">
        </form>

        <td><form method="GET"
          action="/urls/<%=shortUrl%>">  <!-- End of first form tag-->
          <input type="submit" value="update">
        </form>
      </td>
    </tr>
    <%}%>
  </tbody>
</table>

<a href="urls/new">Shorten your URL </a>

<% } else { %>
  <a href="login"> Please log in to see your URLs </a>
<%} %>
</body>
</html>



